<nav class="navbar navbar-expand-sm" id="navbar">
  <!-- Links -->
  <ul class="navbar-nav fixed-top">
    <li class="nav-item">
      <!-- <a class="nav-link" [routerLink]="['/home']">Home</a> -->
      <a class="nav-link" [routerLink]="['/home']">
        <i class="bi bi-house-door-fill"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="!loggedIn()">
      <a class="nav-link" (click)="showSignupModal()">Sign Up</a>
    </li>
    <li class="nav-item" *ngIf="loggedIn()">
      <a class="nav-link" [routerLink]="['/Account']">Account</a>
    </li>
    <li class="nav-item" *ngIf="!loggedIn()">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item" *ngIf="loggedIn()">
      <a class="nav-link" [routerLink]="['/creditCards']">Credit Cards</a>
    </li>
    <li class="nav-item" *ngIf="loggedIn()">
      <a class="nav-link" [routerLink]="['/loans']">Loans</a>
    </li>
    <li class="nav-item" *ngIf="loggedIn()">
      <a class="nav-link" (click)="logout()" [routerLink]="['/logout']"
        >Log Out</a
      >
    </li>
  </ul>
</nav>
