
  <div>
    <h2>Registration</h2>
    <form>
      <input type="text" [ngModel]="user.email" (ngModelChange)="user.email = $event" name="email" placeholder="Email">
      <input type="text" [ngModel]="user.username" (ngModelChange)="user.username = $event" name="username" placeholder="Username">
      <input type="password" [ngModel]="user.password" (ngModelChange)="user.password = $event" name="password" placeholder="Password">
      <input type="text" [ngModel]="user.phone" (ngModelChange)="user.phone = $event" name="phone" placeholder="Phone">
      <input type="text" [ngModel]="user.userAddress?.address" (ngModelChange)="user.userAddress!.address = $event" name="address" placeholder="Address">
      <input type="text" [ngModel]="user.userAddress?.city" (ngModelChange)="user.userAddress!.city = $event" name="city" placeholder="City">
      <input type="text" [ngModel]="user.userAddress?.state" (ngModelChange)="user.userAddress!.state = $event" name="state" placeholder="State">
      <input type="text" [ngModel]="user.userAddress?.zipCode" (ngModelChange)="user.userAddress!.zipCode = $event" name="zipCode" placeholder="Zip Code">
      <input type="text" [ngModel]="user.userDetail?.firstName" (ngModelChange)="user.userDetail!.firstName = $event" name="firstName" placeholder="First Name">
      <input type="text" [ngModel]="user.userDetail?.lastName" (ngModelChange)="user.userDetail!.lastName = $event" name="lastName" placeholder="Last Name">
      <input type="text" [ngModel]="user.userDetail?.dateOfBirth" (ngModelChange)="user.userDetail!.dateOfBirth = $event" name="dateOfBirth" placeholder="Date of Birth (YYYYMMDD)">
      <button (click)="register(user)" class="btn btn-primary">Register</button>
    </form>

   </div>

